.container {
  display: block;
  font-family: var(--font-alice);
  text-align: center;

  ul {
    padding: 0;

    li {
      display: flex;
      list-style: none;
      align-items: center;

      &::before {
        content: "\2705";
        margin-right: 0.5rem;
      }
    }
  }
}
