---

---

<div class="container">Footer</div>

<style lang="scss">
  .container {
    display: grid;
    place-content: center;
    width: calc(100% - 1rem);
    min-height: 3rem;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--bg-secondary);
    color: var(--text-accent);
  }
</style>
