---
import { Font } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/logo.jpg" />
    <link rel="icon" href="/logo.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-alice" preload />
    <Font cssVariable="--font-oswald" preload />
    <Font cssVariable="--font-roboto" preload />
    <title>Ohana Goa | With Love, in Service.</title>
  </head>
  <body>
    <main>
      <slot />
    </main>

    <style>
      :root {
        --bg-primary: #2f5d50;
        --bg-secondary: #e9e2d0;
        --text-color: #2c2c2c;
        --text-accent: #c56a45;
        --text-highlight: #6faf6a;
        --text-primary: #c56a45;
        --text-secondary: #f4b65f;
        --text-default: #d18787;
        --text-dark: #00000095;
      }

      * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: var(--font-roboto);
        box-sizing: border-box;
        scroll-behavior: smooth;
      }

      main {
        position: relative;
        font-family: var(--font-oswald);
        background-color: var(--bg-primary);
        color: var(--text-color);
        display: grid;
        place-items: center;
      }
    </style>
  </body>
</html>
